@import '~antd/dist/antd.css';

.App {
  text-align: left;
}

#title{
  color: aliceblue;
  align-items: center;
  padding:10px;
}

#avatar{
  float: right;
}

#allicon{
  float: right;
}
#seting{
  float: right;
}
.card-height{
  height: auto;
}
